{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Registration completed{% endblock %}

{% block content %}
    <div class="ftco-blocks-cover-1" style="height: 200px; overflow: hidden">
        <div class="ftco-cover-1 overlay innerpage"
             style="background-image: url('{% static 'webapp/images/main.jpg' %}')">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h1>Enter</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section" style="overflow: hidden">
        <div class="container">
            <h2>Registration</h2>
            <p>User registration completed.</p>
        </div>
    </div>

{% endblock %}